spring:
  datasource:
    url: jdbc:mysql://localhost:3307/mall_admin?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
  data:
    redis:
      host: localhost
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

gateway:
  base-url: http://localhost:8080

logging:
  level:
    com.mall.admin: DEBUG
